################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pangolin/Armadillo/Armadillo.dbmdl
/Pangolin/Armadillo/Armadillo.jfm
/Pangolin/UnitTest/obj
/Pangolin/UnitTest/bin
/Pangolin/Framework/bin
/Pangolin/Framework/obj
/Pangolin/Armadillo/Armadillo.sqlproj.user
/Pangolin/LogViewer/bin
/Pangolin/LogViewer/obj
/Pangolin/LogViewer/Properties
/Pangolin/NotificationPublisher/obj
/Pangolin/NotificationPublisher/bin
/Pangolin/BackgroundWorker/bin
/Pangolin/BackgroundWorker/obj
/Pangolin/Armadillo/bin
/Pangolin/Armadillo/obj
/Pangolin/.vs
/.vs
