<button class="btn btn-primar" @onclick="ShowPop">Details</button>
@if (Show)
{

    <!-- <div class="pop-container">
            <div class="popconfirm">
                @Message
                <table class="table">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Details != null)
                        {
                            @foreach (var detail in Details.Values)
                            {
                                <tr>
                                    <td>@detail.Item1</td>
                                    <td>@detail.Item2</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary" @onclick="() => Confirmation()">Close</button>
            </div>


        </div>-->
}
@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Message { get; set; } = "Log Details";
    [Parameter] public long LogId { set; get; }

    private EnderPi.Framework.DataAccess.LogDataAccess logDataAccess = new EnderPi.Framework.DataAccess.LogDataAccess("Server=localhost;Integrated Security = SSPI; Database=PangolinDev;Trusted_Connection=True;");



    public void Confirmation()
    {
        Show = false;
    }

    public void ShowPop()
    {
        //Details = logDataAccess.GetLogDetails(LogId);
        Show = true;
        //get the details?
    }
}