@page "/neworder"
@attribute [Authorize]


<h3>New Order</h3>

<EditForm Model="@order" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            First Name:
            <InputText @bind-Value="order.FirstName" />
        </label>
    </p>

    <p>
        <label>
            Last Name:
            <InputText @bind-Value="order.LastName" />
        </label>
    </p>

    <p>
        <label>
            Address Line 1:
            <InputText @bind-Value="order.AddressLineOne" />
        </label>
    </p>

    <button type="submit">Submit</button>

</EditForm>

@code {
    private EnderPi.Framework.Pocos.OrderData order = new EnderPi.Framework.Pocos.OrderData();

    private void HandleValidSubmit()
    {

    }

}
